:root {
    --accent-color: rgb(0, 225, 255);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: white;
    user-select: none;
}

#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgb(27, 27, 27);
    -webkit-app-region: drag;
}

#window_controls {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    height: 50px;
    -webkit-app-region: no-drag;
    display: block;
}

#window_controls div{
    text-align: center;
    line-height: 50px;
    background-color: transparent;
    width: 50px;
    height: 45px;
    border-radius: 5px;
    float: right;
    -webkit-app-region: no-drag;
    color: white;
    transition: 200ms;
}

#window_controls div:hover {
    background-color: rgba(255, 255, 255, 0.164);
}

#toolbar {
    position: absolute;
    left: 50px;
    top: 0px;
    height: 50px;
    background-color: transparent;
    width: calc(100% - 200px);
    display: block;
}

#toolbar div {
    -webkit-app-region: no-drag;
    position: relative;
    float:  left;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin: 5px;
    transition: 200ms;
    border-radius: 5px;
    margin-right: 0px;
}

#toolbar div:hover {
    background-color: rgba(255, 255, 255, 0.164);
}

#toolbar input[type="text"] {
    position: absolute;
    left: 200px;
    top: 10px;
    height: 28px;
    width: calc(100% - 210px);
    -webkit-app-region: no-drag;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.034);
    color: white;
    outline: 0;
    transition: 200ms;
}

#toolbar input[type="text"]:hover {
    background-color: rgba(255, 255, 255, 0.164);
}

#toolbar input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 0.164);
}

.bottom_line_loader {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    animation: loader linear infinite 2s;
}

@keyframes loader {
    0% {width: 0px; left: 0px;}
    25% {width: 25%; left: 25%;}
    75% {width: 50%; left: 75%;}
    100% {left: 100%; width: 0px;}
}

#tab_bar {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 40px;
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    background-color: rgb(51, 51, 51);
}

.tab{
    position: relative;
    height: 40px;
    width: 0px;
    background-color: transparent;
    display: inline-block; 
    vertical-align: top; 
    white-space: normal; 
    border-radius: 5px;
    overflow: hidden;
    transition: 200ms;
}

.tab .close {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    transition: 200ms;
    z-index: 100;
    border-radius: 5px;
}

.tab .close:hover {
    background-color: rgba(255, 255, 255, 0.212);
}

.tab img{
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    -webkit-user-drag: none;
}

.tab a {
    position: absolute;
    left: 40px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 80px);
    overflow: hidden;
}

#tab_bar::-webkit-scrollbar {
    display: none;
}