body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    color: white;
}

#sidebar {
    position: fixed;
    left: -300px;
    top: 0px;
    width: 300px;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.705);
    backdrop-filter: blur(4px);
    transition: 200ms;
    color: white;
    overflow: hidden;
}

#sidebar_open {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transition: 200ms;
    color: white;
    font-size: 30px;
    text-align: center;
}

#sidebar_open i {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
}

#sidebar_back {
    position: fixed;
    top: 0px;
    width: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.192);
    display: none;
}

#sidebar_content {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 300px;
    height: calc(100% - 70px);
    display: block;
}

#sidebar_content div {
    position: relative;
    float: left;
    width: 300px;
    height: 40px;
    transition: 200ms;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
}

#sidebar_content div:hover {
    background-color: rgba(255, 255, 255, 0.123);
}

#version_indicator {
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 30px;
}

#main_content {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
}

#searchform {
    position: fixed;
    width: 70%;
    height: 50px;
    left: 15%;
    top: 100px;
    overflow: hidden;
}

#searchform input[type="text"]{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: 28px;
    border: none;
    background-color: rgb(34, 34, 34);
    color: white;
    outline: 0;
}

#autocomplete_box {
    position: fixed;
    top: 150px;
    left: 15%;
    width: 70%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.575);
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 200ms;
    backdrop-filter: blur(8px);
}

#autocomplete_box div {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    transition: 100ms;
    color: white;
}

#autocomplete_box div:hover {
    background-color: rgba(32, 32, 32, 0.747);
}

#history {
    position: fixed;
    bottom: 130px;
    max-height: 40%;
    width: 80%;
    left: 10%;
    background-color: rgba(39, 39, 39, 0.644);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(4px);
}

#clearHistory {
    position: fixed;
    bottom: 25px;
    left: 35%;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    border: none;
    backdrop-filter: blur(4px);
}

.history_element {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: rgba(39, 39, 39, 0.473);
    color: white;
    transition: 200ms;
}

.history_element img {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.history_element div {
    position: absolute;
    top: 0px;
    left: 40px;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.history_element:hover {
    background-color: rgb(65, 65, 65);
}

#settings {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 0%;
    background-color: rgba(31, 31, 31, 0.623);
    backdrop-filter: blur(4px);
    display: none;
    transition: 200ms;
}

#close_settings {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 23px;
}

#tab_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 40px);
    height: 40px;
}

#tab_bar div {
    position: relative;
    height: 40px;
    width: 150px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.123);
    color: white;
}

#container {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: calc(100% - 40px);
    text-align: center;
}

#image_preview {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 300px;
}

#selector {
    position: absolute;
    top: 310px;
    left: calc(50% - 100px);
}