body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    color: white;
}

#sidebar {
    position: fixed;
    left: -300px;
    top: 0px;
    width: 300px;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.705);
    backdrop-filter: blur(4px);
    transition: 200ms;
    color: white;
    overflow: hidden;
}

#sidebar_open {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transition: 200ms;
    color: white;
    font-size: 30px;
    text-align: center;
}

#sidebar_open i {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
}

#sidebar_back {
    position: fixed;
    top: 0px;
    width: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.192);
    display: none;
}

#sidebar_content {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 300px;
    height: calc(100% - 70px);
    display: block;
}

#sidebar_content div {
    position: relative;
    float: left;
    width: 300px;
    height: 40px;
    transition: 200ms;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
}

#sidebar_content div:hover {
    background-color: rgba(255, 255, 255, 0.123);
}

#version_indicator {
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 30px;
}

#main_content {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
}

#searchform {
    position: fixed;
    width: 70%;
    height: 50px;
    left: 15%;
    top: 150px;
    overflow: hidden;
}

#searchform input[type="text"] {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: 28px;
    border: none;
    background-color: rgb(34, 34, 34);
    color: white;
    outline: 0;
}

#autocomplete_box {
    position: fixed;
    top: 200px;
    left: 15%;
    width: 70%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.575);
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 200ms;
    backdrop-filter: blur(8px);
}

#autocomplete_box div {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    transition: 100ms;
    color: white;
}

#autocomplete_box div:hover {
    background-color: rgba(32, 32, 32, 0.747);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    transition: 200ms;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(32, 32, 32);
    border-radius: 10px;
    transition: 200ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track:hover {
    background: rgba(255, 255, 255, 0.521);
}

#clearHistory {
    position: absolute;
    bottom: 10px;
    left: 35%;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    border: none;
    backdrop-filter: blur(4px);
}

.history_element {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: rgba(39, 39, 39, 0.473);
    color: white;
    transition: 200ms;
}

.history_element img {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.history_element div {
    position: absolute;
    top: 0px;
    left: 40px;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.history_element:hover {
    background-color: rgb(65, 65, 65);
}

#history {
    position: absolute;
    bottom: 60px;
    max-height: calc(100% - 60px);
    width: 80%;
    left: 10%;
    background-color: rgba(39, 39, 39, 0.644);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(4px);
}

#history_container {
    position: fixed;
    bottom: 0px;
    left: 10%;
    width: 80%;
    z-index: 10000000;
    height: calc(100% - 220px);
    display: none;
    transition: 500ms;
}

#history_toggle {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgb(68, 68, 68);
    color: white;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    outline: 0;
    font-size: 20px;
}

#settings_open {
    position: fixed;
    bottom: 60px;
    left: 10px;
    background-color: rgb(68, 68, 68);
    color: white;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    outline: 0;
    font-size: 20px;
}

#settings {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 0%;
    background-color: rgba(31, 31, 31, 0.623);
    backdrop-filter: blur(4px);
    display: none;
    transition: 200ms;
}

#close_settings {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 23px;
}

#tab_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 40px);
    height: 40px;
}

#tab_bar div {
    position: relative;
    height: 40px;
    width: 150px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.123);
    color: white;
}

#container {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: calc(100% - 40px);
    text-align: center;
}

#image_preview {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 300px;
}

#selector {
    position: absolute;
    top: 310px;
    left: calc(50% - 100px);
}

#favorites {
    position: fixed;
    top: 250px;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(4px);
    border-radius: 24px;
    transform: translate(-50%, 0%);
    overflow: hidden;
    transition: 200ms;
}

#favorites_hint {
    position: fixed;
    top: 210px;
    left: 50%;
    width: 300px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.589);
    backdrop-filter: blur(4px);
    border-radius: 24px;
    transform: translate(-50%, 0%);
    text-align: center;
    overflow: hidden;
    transition: 200ms;
    z-index: 100;
    line-height: 30px;
    display: none;
}

#favorites .button {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 24px;
    transition: 200ms;
    display: inline-block;
    vertical-align: top;
}

#favorites_container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    white-space: nowrap;
    overflow: hidden;
}

#favorites img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

#favorites_container a {
    position: absolute;
    bottom: 15px;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#favorites .button:hover {
    background-color: rgba(255, 255, 255, 0.158);
}

#favorites_add {
    float: right;
    line-height: 100px;
    font-size: 50px;
}


.prompt {
    position: fixed;
    z-index: 10000000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    backdrop-filter: blur(16px);
}

.prompt_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    background-color: rgb(29, 29, 29);
    color: white;
    border-radius: 40px;
    text-align: center;
}

.prompt_container input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 400px;
    outline: 0;
    transition: 200ms;
    background-color: rgba(255, 255, 255, 0.185);
    color: black;
    border-radius: 10px;
    font-size: 26px;
    border: none;
}

.prompt_container input:focus {
    background-color: white;
}

.prompt_container h1 {
    margin-top: 40px;
}

.prompt_container button {
    position: absolute;
    bottom: 40px;
    width: 100px;
    height: 50px;
    left: calc(50% - 50px);
    border: none;
    background-color: rgb(0, 126, 126);
    color: white;
    outline: 0;
    border-radius: 10px;
    transition: 200ms;
}

.prompt_container button:hover {
    background-color: rgb(0, 160, 160);
}