html {
    background-color: transparent;
}

#container {
    position: fixed;
    top: 90px;
    left: 0px;
    width: 100%;
    height: calc(100% - 50px);
    background-color: rgb(51, 51, 51);
}

.tab {
    width: 200px;
    text-align: center;
}

.tab a {
    position: relative;
    left: 0px;
}

.content {
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    top: 0px;
    left: 0px;
    display: block;
    overflow-y: auto;
    overflow-x: auto;
}

.content h1 {
    margin-left: 15px;
}

.content a {
    margin-left: 15px;
}

table {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: auto;
}

th, td {
    border-bottom: 1px solid white;
    text-align: center;
}

#pcontainer {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: transparent;
}

#refresh_button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    width: 100px;
    z-index: 100;
}

.menuitem {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
}

.menuitem a {
    line-height: 40px;
}

.submenuitem a {
    line-height: 40px;
}


.submenuitem {
    position: relative;
    width: calc(100% - 40px);
    margin-left: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
}

.switch {
    position: relative;
    width: 80px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.11);
    margin-left: auto;
    margin-right: auto;
}

.switch .thumb {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(0, 177, 177);
    transition: 200ms;
}

.select {
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
}

input {
    position: relative;
    width: auto;
    height: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.082);
    transition: 200ms;
    outline: 0;
    color: white;
}

input:focus {
    background-color: rgba(255, 255, 255, 0.171);
}

#tab_bar div {
    width: calc(100% / 4);
}

#topbar {
    background-color: rgba(32, 32, 32, 0.5);
}

#container {
    background-color: rgba(65, 65, 65, 0.5);
}

button {
    background-color: teal;
    border: none;
    height: 40px;
    color: white;
}

.spacer {
    position: relative;
    height: 200px;
}