#topbar {
    background-color: white;
    color: black;
}

#toolbar_menu {
    background-color: rgba(255, 255, 255, 0.886);
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.126);
}

#toolbar input[type="text"]:hover {
    background-color: rgba(0, 0, 0, 0.126);
}

#toolbar input[type="text"]:focus {
    background-color: rgba(0, 0, 0, 0.126);
}

#toolbar input[type="text"] {
    color: black;
}

#overview {
    background-color: rgb(223, 223, 223);
}

#suggestions {
    background-color: rgba(220, 220, 220, 0.792);
    color: black;
}

#suggestions div {
    color: black;
}

#suggestions div:hover {
    background-color: rgba(0, 0, 0, 0.079);
}

#splashscreen {
    background-color: white;
    color: black;
}